.github img {
    height: 30px;
    width: 27px;
}

footer.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    background-color: rgb(182, 241, 252);
    box-shadow: var(--shadow);
}