aside.menu_area{
    background-color: var(--bg-dark);
    box-shadow:
        2px 0 10px rgba(0,0,0,0.12)
        2px 0 15px rgba(0,0,0,0.09);
}

.menu a {
    display: block;
    text-decoration: none;
    color: aliceblue;
    font-weight: 300;
    padding: 15px;
}

.menu a:hover{
    background: linear-gradient(135deg, rgb(226, 160, 160) 30%, rgb(90, 13, 13) 70%);

}